.cart-item{
    margin-left: 20%;
}
.photo{
    height: 200px;
    width: 150px;
}
.book-item{
    padding-top: 15px;
    color: #2aabd2;
    height: 200px;
    font-size: 30px;
}
.book-item button{
    margin-left: 3%;
    font-size: 15px;
    border-radius: 15px;
    color: #0000ed;
}
 label{
    font-size: 20px;
}
