body {
    margin-top: 0;
}

.login {
    border-radius: 10px;
    border: #c0c0c0 solid 3px;
    margin: 30px 0;
}

.distance {
    margin-bottom: 30px;
}

.login_title {
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
}

.button-center {
    text-align: center;
}
