#modal-overlay {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
    background-color: #333;
    opacity: 0.5;
}

.logo-payment {
    text-align: center;
    color: #80a4c9;
}

#popup {
    width: 520px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -155px 0 0 -260px;
    text-align: center;
    padding: 30px 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    border-radius: 4px;
}

#close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

#pay {
    width: 150px;
    height: 29px;
    border:1px solid #828a96;
    border-radius: 5px;
    letter-spacing: 15px;
    text-align: center;
}

#pay:focus {
    outline: none;
}
#verify {
    width: 80px;
    height: 30px;
    background-color: #1dadeb;
    border: 1px solid #1dadeb;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}
