.container {
    font-family: sans-serif;
}
.nav{
    /*background-color: #00ee00;*/
}
.feature-one{
    position: relative;
    left: 25%;
    width: 50%;
}
.feature-one .change{
    position: relative;
    padding-left: 20%;
}
.feature-one .change .modify{
    margin-right: 20%;
}
.feature-three .btn{
    position: relative;
    left: 400px;
}