.thumbnail{
    height: 300px;
    width: 250px;
    margin-left: 10px;
    margin-top: 10px;
    /*background-color: #0000ed;*/
}
.pic{
    padding-left: 20px;
    /*background-color: #419641;*/
}

.book{
    height: 100%;
    width: 100%;
}
.caption{
    height: 120px;
    margin-left: 50px;
    /*background-color: #dca7a7;*/
}
.singlebook-list {
    list-style: none;
}

.singlebook-detail {
    color: #000;
    font-size: 15px;
}

.singlebook-detail:hover {
    color: orange;
}

.singlebook-price {
    font-size: 20px;
    color: red;
}
