.thumbnail {
    height: 300px;
    width: 250px;
    margin-left: 10px;
    margin-top: 10px;
}

.pic {
    padding-left: 20px;
}

.book {
    height: 100%;
    width: 100%;
}

.caption {
    height: 120px;
    margin-left: 50px;
}

.singlebook-list {
    list-style: none;
}

.singlebook-detail {
    color: #000;
    font-size: 15px;
}

.singlebook-detail:hover {
    color: orange;
}

.singlebook-price {
    font-size: 20px;
    color: red;
}
